In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [85]:
df=pd.read_csv(r"C:\Users\Asus\Downloads\Aviation_KPIs_Cleaned.csv")

In [86]:
df.head(3)

,Flight Number,Scheduled Departure Time,Actual Departure Time,Delay (Minutes),Aircraft Utilization (Hours/Day),Turnaround Time (Minutes),Load Factor (%),Fleet Availability (%),Maintenance Downtime (Hours),Fuel Efficiency (ASK),Revenue (USD),Operating Cost (USD),Net Profit Margin (%),Ancillary Revenue (USD),Debt-to-Equity Ratio,Revenue per ASK,Cost per ASK,Profit (USD)
0,FL885,2024-05-20 11:51:21,2024-07-10 02:38:54,50,12.36,115,79.18,96.24,9.21,4.15,10953.75,27847.59,17.90,1058.68,2.46,2639.46,6710.26,-16893.84
1,FL930,2024-01-23 06:56:23,2024-07-07 02:53:44,27,14.53,83,98.59,80.49,1.55,3.93,31597.25,1564.41,7.70,2941.32,2.89,8040.01,398.07,30032.84
2,FL478,2024-05-30 09:18:39,2024-12-05 01:00:54,108,10.73,87,67.44,97.90,2.06,4.26,13700.27,30494.88,5.84,1920.45,1.34,3216.03,7158.42,-16794.61

In [87]:
df.columns

Index(['Flight Number', 'Scheduled Departure Time', 'Actual Departure Time',
       'Delay (Minutes)', 'Aircraft Utilization (Hours/Day)',
       'Turnaround Time (Minutes)', 'Load Factor (%)',
       'Fleet Availability (%)', 'Maintenance Downtime (Hours)',
       'Fuel Efficiency (ASK)', 'Revenue (USD)', 'Operating Cost (USD)',
       'Net Profit Margin (%)', 'Ancillary Revenue (USD)',
       'Debt-to-Equity Ratio', 'Revenue per ASK', 'Cost per ASK',
       'Profit (USD)'],
      dtype='object')

In [47]:
df.isnull().sum()

Flight Number                       0
Scheduled Departure Time            0
Actual Departure Time               0
Delay (Minutes)                     0
Aircraft Utilization (Hours/Day)    0
Turnaround Time (Minutes)           0
Load Factor (%)                     0
Fleet Availability (%)              0
Maintenance Downtime (Hours)        0
Fuel Efficiency (ASK)               0
Revenue (USD)                       0
Operating Cost (USD)                0
Net Profit Margin (%)               0
Ancillary Revenue (USD)             0
Debt-to-Equity Ratio                0
Revenue per ASK                     0
Cost per ASK                        0
Profit (USD)                        0
dtype: int64

In [48]:
df.describe()

,Delay (Minutes),Aircraft Utilization (Hours/Day),Turnaround Time (Minutes),Load Factor (%),Fleet Availability (%),Maintenance Downtime (Hours),Fuel Efficiency (ASK),Revenue (USD),Operating Cost (USD),Net Profit Margin (%),Ancillary Revenue (USD),Debt-to-Equity Ratio,Revenue per ASK,Cost per ASK,Profit (USD)
count,197003.000000,197003.000000,197003.000000,197003.000000,197003.000000,197003.000000,197003.000000,197003.000000,197003.000000,197003.000000,197003.000000,197003.000000,197003.000000,197003.000000,197003.000000
mean,59.351710,12.002645,74.441054,74.990280,85.001293,5.503547,3.518055,25411.036565,20298.127366,15.008409,2549.850497,1.752468,7676.910022,6131.188735,5112.909199
std,34.683203,2.311306,25.978275,14.439314,8.672804,2.600804,0.854612,14086.244635,11255.853773,5.779444,1414.089990,0.720287,4769.210170,3812.728097,18018.907022
min,0.000000,8.000000,30.000000,50.000000,70.000000,1.000000,2.000000,1000.060000,800.030000,5.000000,100.020000,0.500000,203.110000,164.830000,-38973.960000
25%,29.000000,9.990000,52.000000,62.490000,77.480000,3.250000,2.780000,13196.655000,10539.610000,10.000000,1325.305000,1.130000,3771.400000,3012.135000,-7931.440000
50%,59.000000,12.010000,74.000000,74.960000,85.000000,5.500000,3.520000,25391.970000,20270.980000,15.000000,2543.840000,1.750000,7240.120000,5774.580000,5187.500000
75%,89.000000,14.010000,97.000000,87.530000,92.530000,7.760000,4.260000,37606.160000,30028.830000,20.010000,3775.775000,2.370000,10782.885000,8601.660000,18157.810000
max,119.000000,16.000000,119.000000,100.000000,100.000000,10.000000,5.000000,49999.950000,39999.840000,25.000000,5000.000000,3.000000,21552.870000,17151.830000,49054.690000

In [79]:
df["Scheduled Departure Time"] = pd.to_datetime(df["Scheduled Departure Time"], errors="coerce")
df["Actual Departure Time"] = pd.to_datetime(df["Actual Departure Time"], errors="coerce")

df["Departure Delay (Minutes)"] = (df["Actual Departure Time"] - df["Scheduled Departure Time"]).dt.total_seconds() / 60

df[["Scheduled Departure Time", "Actual Departure Time", "Departure Delay (Minutes)"]].head()

  Scheduled Departure Time Actual Departure Time  Departure Delay (Minutes)
0      2024-05-20 11:51:21   2024-07-10 02:38:54               72887.550000
1      2024-01-23 06:56:23   2024-07-07 02:53:44              238797.350000
2      2024-05-30 09:18:39   2024-12-05 01:00:54              271662.250000
3      2024-08-15 05:21:47   2024-09-21 13:23:42               53761.916667
4      2024-07-25 15:29:58   2024-03-21 15:05:54             -181464.066667

In [80]:
df["Departure Delay (Minutes)"] = df["Departure Delay (Minutes)"].apply(lambda x: max(x, 0))

df["Departure Delay (Minutes)"] = df["Departure Delay (Minutes)"].apply(lambda x: min(x, 1440))

df[["Scheduled Departure Time", "Actual Departure Time", "Departure Delay (Minutes)"]].head()

  Scheduled Departure Time Actual Departure Time  Departure Delay (Minutes)
0      2024-05-20 11:51:21   2024-07-10 02:38:54                     1440.0
1      2024-01-23 06:56:23   2024-07-07 02:53:44                     1440.0
2      2024-05-30 09:18:39   2024-12-05 01:00:54                     1440.0
3      2024-08-15 05:21:47   2024-09-21 13:23:42                     1440.0
4      2024-07-25 15:29:58   2024-03-21 15:05:54                        0.0

In [51]:
df["Profit Margin Ratio"] = df.apply(lambda row: row["Profit (USD)"] / row["Revenue (USD)"] 
                                     if row["Revenue (USD)"] != 0 else 0, axis=1)
df[["Revenue (USD)", "Profit (USD)", "Profit Margin Ratio"]].head()

   Revenue (USD)  Profit (USD)  Profit Margin Ratio
0       10953.75     -16893.84            -1.542288
1       31597.25      30032.84             0.950489
2       13700.27     -16794.61            -1.225860
3       39913.01      26468.92             0.663165
4       11531.48     -23137.50            -2.006464

In [52]:
from sklearn.model_selection import train_test_split

target = "Profit (USD)"
X = df.drop(columns=[target])
y = df[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Training set:",X_train.shape, "Features: ",y_train.shape)

Training set: (157602, 19) Features:  (157602,)

In [69]:
df.columns

Index(['Delay (Minutes)', 'Aircraft Utilization (Hours/Day)',
       'Turnaround Time (Minutes)', 'Load Factor (%)',
       'Fleet Availability (%)', 'Maintenance Downtime (Hours)',
       'Fuel Efficiency (ASK)', 'Revenue (USD)', 'Operating Cost (USD)',
       'Net Profit Margin (%)', 'Ancillary Revenue (USD)',
       'Debt-to-Equity Ratio', 'Revenue per ASK', 'Cost per ASK',
       'Profit (USD)', 'Departure Delay (Minutes)', 'Profit Margin Ratio',
       'Calculated Delay (Minutes)'],
      dtype='object')

In [88]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

df_clean = df.drop(columns=["Flight Number", "Scheduled Departure Time", "Actual Departure Time"])

# Take a 20% random sample for memory efficiency
df_sample = df_clean.sample(frac=0.2, random_state=42)

# Define features and target
X_sample = df_sample.drop(columns=["Profit (USD)"])
y_sample = df_sample["Profit (USD)"]

# Split dataset into training and testing (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X_sample, y_sample, test_size=0.2, random_state=42)

# Standardize numerical features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train Ridge Regression model
ridge_model = Ridge(alpha=1.0)
ridge_model.fit(X_train_scaled, y_train)

# Make predictions
y_pred = ridge_model.predict(X_test_scaled)

# Evaluate model performance
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

# Print results
print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"R² Score: {r2:.2f}")

Mean Absolute Error (MAE): 1.61
Root Mean Squared Error (RMSE): 2.24
R² Score: 1.00

In [92]:
from sklearn.preprocessing import LabelEncoder
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()

# Drop high-cardinality categorical columns
high_cardinality_cols = [col for col in categorical_cols if df[col].nunique() > 1000]  
df.drop(columns=high_cardinality_cols, inplace=True, errors='ignore')

# Apply Label Encoding to remaining categorical columns
label_encoders = {}
for col in categorical_cols:
    if col in df.columns:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col].astype(str))
        label_encoders[col] = le  

# Define features (X) and target (y)
X = df.drop(columns=["Profit (USD)"])  # Features
y = df["Profit (USD)"]  # Target variable

# Split data into training (80%) and testing (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Evaluate performance
r2 = r2_score(y_test, y_pred) * 100  # Convert R² score to %
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)

print(f"✅ R² Score: {r2:.2f}%")  # Higher is better
print(f"✅ RMSE: {rmse:.2f}")  
print(f"✅ MAE: {mae:.2f}")    

# Predict last entry
last_entry = X.iloc[[-1]]
actual_profit = y.iloc[-1]
predicted_profit = model.predict(last_entry)[0]

# Calculate accuracy of the last prediction
prediction_accuracy = (1 - abs(actual_profit - predicted_profit) / actual_profit) * 100

print("\n🔹 Checking last entry prediction accuracy:")
print(f"✅ Actual Profit (USD): {actual_profit}")
print(f"✅ Predicted Profit (USD): {predicted_profit:.2f}")
print(f"✅ Prediction Error: {abs(actual_profit - predicted_profit):.2f}")
print(f"✅ Prediction Accuracy: {prediction_accuracy:.2f}%")

✅ R² Score: 100.00%
✅ RMSE: 0.00
✅ MAE: 0.00

🔹 Checking last entry prediction accuracy:
✅ Actual Profit (USD): -11459.68
✅ Predicted Profit (USD): -11459.68
✅ Prediction Error: 0.00
✅ Prediction Accuracy: 100.00%